<div class="bg-white p-6 rounded-xl shadow-md">

<h2 class="text-xl font-semibold mb-5 text-gray-700">
{{ editIndex === null ? 'Add Student' : 'Edit Student' }}
</h2>

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">

<input
class="border border-gray-300 p-2 rounded-md focus:ring-2 focus:ring-green-400 outline-none"
placeholder="Reg No"
[(ngModel)]="student.regNo">

<input
class="border border-gray-300 p-2 rounded-md focus:ring-2 focus:ring-green-400 outline-none"
placeholder="Roll No"
[(ngModel)]="student.rollNo">

<input
class="border border-gray-300 p-2 rounded-md focus:ring-2 focus:ring-green-400 outline-none"
placeholder="Name"
[(ngModel)]="student.name">

<input
class="border border-gray-300 p-2 rounded-md focus:ring-2 focus:ring-green-400 outline-none"
placeholder="Standard"
[(ngModel)]="student.standard">

<input
class="border border-gray-300 p-2 rounded-md focus:ring-2 focus:ring-green-400 outline-none md:col-span-2"
placeholder="School"
[(ngModel)]="student.school">

</div>

<button
class="bg-green-500 hover:bg-green-600 transition text-white px-5 py-2 mt-6 rounded-md font-medium"
(click)="addOrUpdate()">

{{ editIndex === null ? 'Add Student' : 'Update Student' }}

</button>

</div>
